.box {
    width: 50px;
    background-color: black;
    padding: 23%;
    border: 40px;
    color: white;
    border-radius: 2000px;
    margin: 50px auto;
    border-color: yellow;
    text-size-adjust:
    space
}